<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <a href="/dojos">Home</a>
    <form action='/add_ninja' method="POST">
        Dojo: <select name="dojo_id">
            {% for dojo in dojos %}
            <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select><br>
        First Name:<input type="text" name="first_name"><br>
        
        Last Name:<input type="text" name="last_name"><br>
        Age:<input type="age" name="age"><br>
        <input type="submit" value="Create">
</body>
</html>