<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Flask Template</h1>
    <p>Phrase {{word}}</p>
    <p>Times {{mult}}</p>

{% for x in range(0,mult): %}
    <p>{{word}}</p>
{% endfor %}

{% if word == "hello" %}
    <p>The phrase says hello</p>
{% endif %}
</body>
</html>