.headcontainer{
    display: flex;
    justify-content: center;
}
.mainbod{
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 200px; */
}
.box{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
}