<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css')}}">
    <title>Checkers</title>
</head>
<body>
    <div class="headwrap">
        <div class="header">
            <h1>***Checkerboard***</h1>
        </div>
    </div>
    {% for i in range(0,x): %}
    <div class="row_wrap">
    {%if i%2 == 0:%}
        {% for j in range(0,y): %}
            {% if j%2 == 0: %}
                <div class="tiles1" style="background-color:{{color1}};"></div>
            {% else: %}
                <div class="tiles2" style="background-color:{{color2}};"></div>
            {% endif %}
        {% endfor %}
    {% else %}
            {% for j in range(0,y): %}
                {% if j%2 != 0: %}
                <div class="tiles2" style="background-color:{{color1}};"></div>
            {% else: %}
                <div class="tiles1" style="background-color:{{color2}};"></div>
                {% endif %}
            {% endfor %}
    {% endif %}
    </div>
    {% endfor %}
</body>
</html>