<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Location</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="full-screen-container">
    <div class="form-container">
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="register-title">Add a location</h1>
        <form class="form" action='/add/location' method="POST">
            <div class="input-group">
                <label for="name">Name :</label>
                <input type="text" name="name">
            </div>
            <div class="input-group">
                <label for="city">City:</label>
                <input type="text" name="city">
            </div>
            <div class="input-group">
                <label for="state">State:</label> 
                <input type="text" name ="state">
            </div>
            <div class="input-group">
                <label for="street_address">Street address:</label> 
                <input type="text" name ="street_address">
            </div>
            <div class="input-group">
                <label for="zip">Zip:</label> 
                <input type="text" name ="zip">
            </div>
            <button type="submit" class="login-button" >Submit</button>
        </form>
        <a href="/dash">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

</body>
</html>